<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44592384888-kimu9bi60ku5pjcqc9ltlficr228cks1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44592384888-kimu9bi60ku5pjcqc9ltlficr228cks1</string>
	<key>API_KEY</key>
	<string>AIzaSyDghGMLOiklLXdmNYUpaCOIwxCd6fIZZgc</string>
	<key>GCM_SENDER_ID</key>
	<string>44592384888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tsanthosh.analytics-sample-app</string>
	<key>PROJECT_ID</key>
	<string>analytics-sample-test</string>
	<key>STORAGE_BUCKET</key>
	<string>analytics-sample-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44592384888:ios:dd255973add8eb3ba7168d</string>
</dict>
</plist>